PORT=3003
MONGODB_URI=mongodb://localhost:27017/order
JWT_SECRET=change_me
INTERNAL_SERVICE_TOKEN=change_me
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
RABIT_URL=amqp://localhost
JSON_LIMIT=100kb
