PORT=3004
MONGODB_URI=mongodb://localhost:27017/payment
JWT_SECRET=change_me
INTERNAL_SERVICE_TOKEN=change_me
SERVICE_TOKEN=change_me
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
RABIT_URL=amqp://localhost
